{% extends '@WebProfiler/Profiler/layout.html.twig' %}

{% block menu %}
    <span class="label {#{{ collector.dumpsCount == 0 ? 'disabled' }}#}">
        <span class="icon">{{ include('@TSantosSerializer/Profiler/icon.svg') }}</span>
        <strong>Serializer</strong>
    </span>
{% endblock %}

{% block panel %}
    <h2>Mapped Classes</h2>
    <table>
        <thead>
        <tr>
            <th scope="col">Class</th>
            <th scope="col">Path</th>
            <th scope="col">Info</th>
        </tr>
        </thead>
        <tbody>
        {% for class in collector.mappedClasses %}
            <tr>
                <td><a href="{{ class.filename|file_link(class.line) }}">{{ class.name }}</a></td>
                <td>{{ class.path }}</td>
                <td>{{ profiler_dump(class.mapping) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No mapping provided.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if collector.mappedClasses|length %}
        <p class="help">
            Note: All the above classes will be used to create the hydrator classes when warming up the system cache
        </p>
    {% endif %}
    <h2>Auto Mapped Classes</h2>
    <p>Classes that weren't explicitly mapped but automatically discovered by this bundle</p>
    <table>
        <thead>
        <tr>
            <th scope="col">Class</th>
            <th scope="col">Path</th>
            <th scope="col">Info</th>
        </tr>
        </thead>
        <tbody>
        {% for class in collector.autoMappedClasses %}
            <tr>
                <td><a href="{{ class.filename|file_link(class.line) }}">{{ class.name }}</a></td>
                <td>{{ class.path }}</td>
                <td>{{ profiler_dump(class.mapping) }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No mapping provided.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if collector.autoMappedClasses|length %}
        <p class="help">
            Note: All the above classes will be used to create the hydrator classes when warming up the system cache
        </p>
    {% endif %}
{% endblock %}
